BIOGRAPHY_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=0"
PUBLICATIONS_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=111"
QUALIFICATIONS_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=222"
AWARDS_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=333"
VOLUNTEER_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=444"
INTERNSHIP_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=555"
IMAGES_SHEET_URL="https://docs.google.com/spreadsheets/d/xxxx/export?format=csv&gid=666"
